action:
    group: Actions
    add:
        label: Add
        success:
            message: Adding was successfull.
    edit:
        label: Edit
        success:
            message: Editing was successfull.
    delete:
        label: Delete
        success:
            message: Deleting was successfull.